@charset "utf-8";
body,header,main,footer,nav,section,div,p,aside,article,a,img,h1,h2,h3,h4,h5,h6,address,form,fieldset,legend,input,button,select,option,textarea,table,tbody,thead,tfoot,caption,th,td,ol,ul,li,dl,dt,dd,figure,figcaption,blockquote{margin:0;padding:0;}
ol,ul{list-style:none;}
img{display:block;border:0px;}
a{text-decoration:none;}
address,em,i{font-style:none;}
button,fieldset,select,input{border:0;}
legend,caption,hr{display:none;}
table{border-collapse:collapse;border-spacing:0;}
